#mainDiv{
    background-color: lightblue;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#O3div{
    background-color: white;
    width: calc(50vw - 75px);
    height: calc(100vh - 100px);
    position: fixed;
    top: 50px;
    left: 50px;
    right: 25px;
    border-radius: 15px;
    padding: 40px; /* Adds 30 pixels of padding on all sides */
    box-sizing: border-box; /* Ensures padding does not affect width */
}

#NO2div{
    background-color: white;
    width: calc(50vw - 75px);
    height: calc(100vh - 100px);
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: calc(50vw + 25px);
    border-radius: 15px;
    padding: 40px; /* Adds 30 pixels of padding on all sides */
    box-sizing: border-box; /* Ensures padding does not affect width */
}

#O3title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 60px;
    margin-top: 20px;
}

#NO2title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 60px;
    margin-top: 20px;
}

.legend {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    margin: 20px; /* Add some margin */
    margin-top: 40px; /* Space above legend */
    margin-bottom: 40px; /* Space below legend */
}
/* Style for the color dots */
.dot {
    width: 20px; /* Set dot width */
    height: 20px; /* Set dot height */
    border-radius: 50%; /* Make the dots circular */
    margin-right: 10px; /* Space between dot and text */
}
/* Specific colors for each dot */
.red { background-color: red; }
.orange { background-color: orange; }
.green { background-color: green; }
/* Style for the text */
.legend-text {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items vertically */
    margin-bottom: 5px; /* Add space between legend items */
}